/* line 5, ../sass/_helpers.scss */
body.v4master {
  font-family: "Roboto", sans-serif;
  color: #2e2925;
}

/* line 9, ../sass/_helpers.scss */
#s4-ribbonrow a {
  transition: none !important;
}

/* line 12, ../sass/_helpers.scss */
.s4-notdlg {
  position: relative;
}

/* line 15, ../sass/_helpers.scss */
#s4-leftpanel {
  display: none;
}

/* line 18, ../sass/_helpers.scss */
.s4-ca {
  margin-left: 5px;
  background: transparent;
}

/* line 22, ../sass/_helpers.scss */
.s4-titletext {
  display: none;
}

/* line 25, ../sass/_helpers.scss */
.s4-lp.s4-toplinks {
  display: none;
}

/* line 28, ../sass/_helpers.scss */
body #s4-ribbonrow {
  overflow: inherit;
}

/* line 32, ../sass/_helpers.scss */
.hidde-scroll {
  overflow: hidden;
}

/* line 35, ../sass/_helpers.scss */
.on {
  display: block;
}

/* line 39, ../sass/_helpers.scss */
.off {
  display: none;
}

/* line 43, ../sass/_helpers.scss */
a,
a:visited,
a:active,
a:focus {
  color: #00b2e2;
  transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 49, ../sass/_helpers.scss */
a:hover,
a:visited:hover,
a:active:hover,
a:focus:hover {
  color: #0563a7;
  text-decoration: none;
}

/* line 5, ../sass/modules/_header.scss */
.site-header {
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px 2px #555;
  -ms-box-shadow: 0 1px 3px 2px #555;
  -moz-box-shadow: 0 1px 3px 2px #555;
  -webkit-box-shadow: 0 1px 3px 2px #555;
  height: 50px;
  z-index: 10;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

/* line 15, ../sass/modules/_header.scss */
.site-logo {
  margin: 10px 0 10px 42px;
}
/* line 17, ../sass/modules/_header.scss */
.site-logo img {
  width: 70px;
  height: auto;
}

/* line 22, ../sass/modules/_header.scss */
main {
  padding-top: 60px;
}

/* line 25, ../sass/modules/_header.scss */
.item {
  height: 200px;
  background: red;
  width: 100%;
  margin-bottom: 25px;
}

/* line 32, ../sass/modules/_header.scss */
.header-actions {
  position: absolute;
  top: 13px;
  right: 15px;
}
/* line 37, ../sass/modules/_header.scss */
.header-actions .actions-menu > li {
  display: inline-block;
  margin: 0;
  background-color: #00b2e2;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}
/* line 46, ../sass/modules/_header.scss */
.header-actions .actions-menu > li:last-child {
  background-color: #f26c23;
}
/* line 49, ../sass/modules/_header.scss */
.header-actions .actions-menu > li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 54, ../sass/modules/_header.scss */
.header-actions .actions-menu > li .call-center {
  display: block;
  font-size: 10px;
  font-weight: normal;
}
/* line 59, ../sass/modules/_header.scss */
.header-actions .actions-menu > li .text {
  display: none;
}
/* line 62, ../sass/modules/_header.scss */
.header-actions .actions-menu > li .glyphicon {
  display: inline-block;
  font-size: 14px;
  line-height: 23px;
}

@media screen and (min-width: 1110px) {
  /* line 75, ../sass/modules/_header.scss */
  .site-header {
    background-color: #f8f8f8;
    height: 140px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }

  /* line 84, ../sass/modules/_header.scss */
  .site-logo {
    position: absolute;
    top: 42px;
    margin-left: 0;
  }
  /* line 88, ../sass/modules/_header.scss */
  .site-logo img {
    width: 154px;
  }

  /* line 94, ../sass/modules/_header.scss */
  .header-actions {
    top: 0;
    width: auto;
  }
  /* line 97, ../sass/modules/_header.scss */
  .header-actions .actions-menu {
    display: table;
    width: 226px;
  }
  /* line 100, ../sass/modules/_header.scss */
  .header-actions .actions-menu > li {
    display: table-cell;
    margin: 0;
    background-color: #00b2e2;
    text-align: center;
    padding: 5px 8px;
    vertical-align: middle;
    width: 50%;
    height: auto;
    border-radius: 0;
  }
  /* line 110, ../sass/modules/_header.scss */
  .header-actions .actions-menu > li:last-child {
    background-color: #f26c23;
    border-left: 1px solid #fff;
  }
  /* line 114, ../sass/modules/_header.scss */
  .header-actions .actions-menu > li a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  /* line 119, ../sass/modules/_header.scss */
  .header-actions .actions-menu > li .call-center {
    display: block;
    font-size: 9px;
    font-weight: normal;
  }
  /* line 124, ../sass/modules/_header.scss */
  .header-actions .actions-menu > li .text {
    display: inline-block;
  }
  /* line 127, ../sass/modules/_header.scss */
  .header-actions .actions-menu > li .glyphicon {
    display: none;
  }
}
/* line 5, ../sass/modules/_menu.scss */
.nav-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 13, ../sass/modules/_menu.scss */
.nav-button.active {
  background-color: #9fa1a4;
}
/* line 15, ../sass/modules/_menu.scss */
.nav-button.active .icon-bar {
  background-color: #fff;
}
/* line 17, ../sass/modules/_menu.scss */
.nav-button.active .icon-bar::before, .nav-button.active .icon-bar::after {
  background-color: #fff;
}
/* line 23, ../sass/modules/_menu.scss */
.nav-button .open-menu {
  border: 0;
  width: 24px;
  height: 16px;
  background: transparent;
  position: relative;
  margin: 18px 0 0 13px;
  outline: none;
}
/* line 32, ../sass/modules/_menu.scss */
.nav-button .icon-bar {
  width: 24px;
  height: 3px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 7px;
}
/* line 40, ../sass/modules/_menu.scss */
.nav-button .icon-bar::before, .nav-button .icon-bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 24px;
  height: 3px;
  background-color: #000;
}
/* line 50, ../sass/modules/_menu.scss */
.nav-button .icon-bar::after {
  top: 6px;
}

/* line 57, ../sass/modules/_menu.scss */
.searchbox {
  margin-bottom: 8px;
}

/* line 61, ../sass/modules/_menu.scss */
.nav-main {
  background-color: #9fa1a4;
  transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform-origin: top left;
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  margin: 0;
  width: 100%;
  visibility: hidden;
  overflow: auto;
}
/* line 77, ../sass/modules/_menu.scss */
.nav-main.active {
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
  visibility: visible;
}

/* line 85, ../sass/modules/_menu.scss */
.first-level-navigation > li {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
}
/* line 88, ../sass/modules/_menu.scss */
.first-level-navigation > li > a,
.first-level-navigation > li > a:visited,
.first-level-navigation > li > a:focus {
  display: block;
  font: 300 14px/120% "Roboto", sans-serif;
  text-transform: capitalize;
  color: #fff;
  padding: 8px 0;
}
/* line 97, ../sass/modules/_menu.scss */
.first-level-navigation > li a:hover {
  text-decoration: none;
  outline: none;
}

/* line 104, ../sass/modules/_menu.scss */
.second-level-navigation {
  background-color: #d2d4d5;
  margin: 0 -15px;
  padding-left: 45px;
  transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
/* line 112, ../sass/modules/_menu.scss */
.second-level-navigation.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}
/* line 117, ../sass/modules/_menu.scss */
.second-level-navigation > li {
  outline: none;
}
/* line 119, ../sass/modules/_menu.scss */
.second-level-navigation > li > a,
.second-level-navigation > li > a:visited,
.second-level-navigation > li > a:focus {
  display: block;
  font: 300 14px/120% "Roboto", sans-serif;
  text-transform: capitalize;
  color: #727372;
  padding: 8px 0;
}

/* line 133, ../sass/modules/_menu.scss */
.third-level-navigation {
  background-color: #fff;
  margin-left: -45px;
  padding-left: 71px;
  padding-top: 14px;
  transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  display: none;
  /*&.active{
  	display: block;
  }*/
}
/* line 144, ../sass/modules/_menu.scss */
.third-level-navigation .column > ul {
  padding: 0 0 10px;
}
/* line 146, ../sass/modules/_menu.scss */
.third-level-navigation .column > ul > li {
  position: relative;
  padding-left: 10px;
  outline: none;
}
/* line 150, ../sass/modules/_menu.scss */
.third-level-navigation .column > ul > li > a,
.third-level-navigation .column > ul > li > a:visited,
.third-level-navigation .column > ul > li > a:focus {
  display: block;
  color: #000;
}
/* line 155, ../sass/modules/_menu.scss */
.third-level-navigation .column > ul > li > a::before, .third-level-navigation .column > ul > li > a::after,
.third-level-navigation .column > ul > li > a:visited::before,
.third-level-navigation .column > ul > li > a:visited::after,
.third-level-navigation .column > ul > li > a:focus::before,
.third-level-navigation .column > ul > li > a:focus::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 5px;
  height: 1px;
  background-color: #000;
  transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
}
/* line 166, ../sass/modules/_menu.scss */
.third-level-navigation .column > ul > li > a::after,
.third-level-navigation .column > ul > li > a:visited::after,
.third-level-navigation .column > ul > li > a:focus::after {
  top: 11px;
  transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
}
/* line 174, ../sass/modules/_menu.scss */
.third-level-navigation .third-level-title {
  font: 400 14px/120% "Roboto", sans-serif;
  color: #000;
  margin: 0 0 8px;
  text-transform: uppercase;
}

@media screen and (min-width: 1110px) {
  /* line 188, ../sass/modules/_menu.scss */
  .nav-main {
    position: relative;
    top: auto;
    background-color: transparent;
    overflow: inherit;
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    visibility: visible;
    opacity: 1;
    max-width: 1170px;
    left: auto;
    right: auto;
    bottom: auto;
    margin: auto;
  }

  /* line 202, ../sass/modules/_menu.scss */
  .site-nav {
    margin-top: 107px;
  }

  /* line 205, ../sass/modules/_menu.scss */
  .nav-button {
    display: none;
  }

  /* line 208, ../sass/modules/_menu.scss */
  .searchbox {
    position: absolute;
    bottom: 3px;
    right: 15px;
  }
  /* line 212, ../sass/modules/_menu.scss */
  .searchbox .ms-sbcell input {
    border: 0 !important;
    line-height: 37px;
    height: 37px;
    border-bottom: 1px solid #cbc9c7;
  }
  /* line 218, ../sass/modules/_menu.scss */
  .searchbox .ms-sbcell > a {
    width: 37px;
    height: 37px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  /* line 226, ../sass/modules/_menu.scss */
  .first-level-navigation {
    position: relative;
    padding-left: 165px;
    padding-right: 239px;
  }
  /* line 230, ../sass/modules/_menu.scss */
  .first-level-navigation > li {
    display: inline-block;
    text-align: center;
  }
  /* line 233, ../sass/modules/_menu.scss */
  .first-level-navigation > li > a,
  .first-level-navigation > li > a:visited,
  .first-level-navigation > li > a:focus {
    font: 400 14px/120% "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0 5px;
    color: #727372;
    white-space: nowrap;
  }

  /* line 244, ../sass/modules/_menu.scss */
  .second-level-navigation {
    position: absolute;
    top: 33px;
    width: calc(100vw - 20px);
    background-color: #727372;
    height: 40px;
    margin: 0;
    line-height: 40px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    box-shadow: 0px 2px 2px 1px #555 inset;
    -ms-box-shadow: 0px 2px 2px 1px #555 inset;
    -moz-box-shadow: 0px 2px 2px 1px #555 inset;
    -webkit-box-shadow: 0px 2px 2px 1px #555 inset;
  }
  /* line 257, ../sass/modules/_menu.scss */
  .second-level-navigation > li {
    display: inline-block;
    text-align: center;
  }
  /* line 260, ../sass/modules/_menu.scss */
  .second-level-navigation > li > a,
  .second-level-navigation > li > a:visited,
  .second-level-navigation > li > a:focus {
    font: 400 14px/120% "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0 5px;
    color: #fff;
    white-space: nowrap;
  }

  /* line 271, ../sass/modules/_menu.scss */
  .third-level-navigation {
    position: absolute;
    width: calc(100vw - 20px);
    left: 50%;
    right: 0;
    padding: 15px;
    margin: 0;
    top: 40px;
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: none;
  }
  /* line 287, ../sass/modules/_menu.scss */
  .third-level-navigation.active {
    display: block;
  }
  /* line 292, ../sass/modules/_menu.scss */
  .third-level-navigation li {
    display: block;
    text-align: center;
  }
  /* line 295, ../sass/modules/_menu.scss */
  .third-level-navigation li > a,
  .third-level-navigation li > a:visited,
  .third-level-navigation li > a:focus {
    font: 400 14px/120% "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0 5px;
    color: #727372;
    white-space: normal;
  }

  /* line 307, ../sass/modules/_menu.scss */
  .column .third-level-title {
    text-align: left;
    margin: 0 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid #555;
  }
  /* line 315, ../sass/modules/_menu.scss */
  .column li {
    line-height: normal;
    text-align: left;
  }
  /* line 318, ../sass/modules/_menu.scss */
  .column li > a,
  .column li > a:visited,
  .column li > a:focus {
    font: 400 14px/120% "Roboto", sans-serif;
    text-transform: inherit;
    padding: 5px 0;
    color: #727372;
  }
}
/* line 5, ../sass/modules/_footer.scss */
.site-footer {
  background-color: #727372;
  color: #fff;
}
/* line 8, ../sass/modules/_footer.scss */
.site-footer .footer-content {
  padding: 30px 0;
}
/* line 11, ../sass/modules/_footer.scss */
.site-footer .footer-share {
  margin-bottom: 18px;
}
/* line 13, ../sass/modules/_footer.scss */
.site-footer .footer-share ul > li {
  display: inline-block;
}
/* line 15, ../sass/modules/_footer.scss */
.site-footer .footer-share ul > li + li {
  margin-left: 12px;
}
/* line 18, ../sass/modules/_footer.scss */
.site-footer .footer-share ul > li .link-rounded {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}
/* line 27, ../sass/modules/_footer.scss */
.site-footer .footer-contact a {
  color: #fff;
  font-weight: bold;
}

/* line 5, ../sass/modules/_popup.scss */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transform-origin: center;
  -ms-transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
}
/* line 17, ../sass/modules/_popup.scss */
.popup .popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
/* line 26, ../sass/modules/_popup.scss */
.popup.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
}
