// PRIMARY COLORS
$color-blue: #0563a7;
$color-light-blue: #00b2e2;
$color-orange: #f26c23;
$color-black: #2e2925;

// SECONDARY COLORS
$color-dark-blue: #1d3060;
$color-light-grey: #cbc9c7;
$color-dark-grey: #727372;

// TERTIARY COLORS
$color-magenta: #c71e50;
$color-green: #78c044;
$color-yellow: #fbb421;

// ANCHORS
$color-link: #00b2e2;
$color-hover: #0563a7;

// BACKGROUNDS
$color-theme-light: #fff;
$color-theme-dark: #cbc9c7;

// SITE FONT 
$primary-font: 'Roboto', sans-serif;